<! doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
        {{{body}}}
    </body>
</html>

