<h1>Welcome to Meadowlark Travel</h1>
{{> weather}}
<br>
<br>
<a href="http://localhost:3000/contest/vacation-photo">vacation-photo</a>
<a href="http://localhost:3000/newsletter">newsletter</a>
<a href="http://localhost:3000/vacations">vacations</a>